PORTAL_DB_PASSWORD=__CHANGE_ME__
PORTAL_JWT_SECRET=__CHANGE_ME_AT_LEAST_32_RANDOM_CHARACTERS__
PORTAL_MEMBER_JWT_SECRET=__MUST_EQUAL_MEMBER_JWT_SECRET__
CAMIE_STATIC_TOKEN=__MUST_EQUAL_STATIC_SERVICE_TOKEN__
